* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body, main {
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    overflow: hidden;
}

hr {
    width: 100%;
    height: 0.1%;
    background-color: black;
}

.groupCard {
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0;
    background-color: #ebebeb;
    width: 90%;
    height: 9%;
    overflow: hidden;
}

.groupCard img {
    height: 100%;
    float: left;
    border-radius: 50%;
    margin: 0 4% 0 0;
    border: 1.5px solid black;
}

.groupName {
    font-size: 175%;
    white-space: nowrap;
}

.lastMessage {
    max-width: 80%;
    padding-left: 20%;
    font-size: 100%;
    white-space: nowrap;
}

.message, .ownMessage {
    width:70%;
    min-height: 5%;
    word-wrap: break-word;
    margin-bottom: 1%;
}



.message {
    background-color: #ebebeb;
    padding: 2% 2% 2% 5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
}

.messageContent {
    font-size: 150%;
    padding-bottom: 3%;
}

.messageAuthor {
    float: left;
    font-size: 110%;
}

.messageTimestamp {
    float: right;
}

.ownMessage {
    float: right;
    background-color: #ababab;
    padding: 2% 2% 2% 5%;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 5%;
    background-color: white;
    padding-left: 5%;
}

.input {
    resize: none;
    width: 72.5%; 
    height: 30px;
    font-size: 150%;
}

.control img {
    width: 15%;
}

.message:last-child {
    padding-bottom: 20%;
}
